##
##  General app settings
##
APP_NAME="#lowtech bot prompts"
APP_SYS_NAME="botprompts"
APP_VERSION="1.0.2"
API_URL_PREFIX_V1="/api/v1"
LOGGING_CONFIG_FILE=logging.json
APP_ENVIRONMENT="production"
DEBUG=False
SLUG_MAX_LENGTH=64
PROMPT_MAX_LENGTH=4096

##
##  CORS Settings
##
CORS_ENABLE=True
CORS_ALLOW_ORIGINS=["https://botprompts.lowtech.io"]
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]
CORS_ALLOW_CREDENTIALS=True
# CORS_EXPOSE_HEADERS=[]
# CORS_ALLOW_ORIGIN_REGEX=
# CORS_MAX_AGE=600

##
##  Database Service
##
DB_IS_ASYNC=False
DB_ENGINE=postgresql
DB_NAME_FILE=/run/secrets/db_database
DB_USERNAME_FILE=/run/secrets/db_username
DB_PASSWORD_FILE=/run/secrets/db_password
DB_HOST_FILE=/run/secrets/db_host
DB_OPTIONS=
DB_POOL_SIZE=23
DB_MAX_OVERFLOW=30

##
##  Proxy settings (trusted hosts should be updated for docker)
##
PROXY_ENABLE=True
PROXY_TRUSTED_HOSTS=["127.0.0.1"]

##
##  Gzip settings
##
GZIP_ENABLE=True
GZIP_MINIMUM_SIZE=1024

##
##  Trusted Host Header settings
##
THH_ENABLE=True
THH_ALLOWED_HOSTS=["*"]

##
##  Authentication Service
##
# 1 day = 86400 seconds
# 1 week = 604800 seconds
# 1 month = 2629800 seconds
JWT_SECURITY_TOKEN=changeme
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_LIFETIME_SECONDS=3600
JWT_REFRESH_TOKEN_LIFETIME_SECONDS=604800
JWT_REFRESH_COOKIE_NAME="lowtech_lts_refresh"
JWT_REFRESH_COOKIE_DOMAIN="localhost"
JWT_REFRESH_COOKIE_HTTPONLY=True
JWT_REFRESH_COOKIE_SECURE=True
JWT_REFRESH_COOKIE_SAMESITE="strict"
JWT_REFRESH_COOKIE_PATH="/"
